body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
}

button {
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button:hover {
  background-color: #f0f0f0;
}

.auth-form, .workout-card {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form input,
.workout-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.workout-card {
  border: 1px solid #ddd;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.workouts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
